 @charset "utf-8";

/* 공통속성 */
html{background-color: #333;}
html, body{width: 100%; height: 100%;}
#desktop{width: 100%; height: 100%;}
#desktop .section{width: 100%; height: 100%; position: relative;}

#desktop .bg-wrap{width: 100%; max-width: 140rem; height: 100%; display: flex; position: relative;margin: 0 auto;}
#desktop .bg-wrap-marginTop{height: 95%; top: 5%;}
#desktop .bg-wrap-marginBot{height: 95%;}

#desktop .bg{width: 100%; height: 100%; background-size: cover; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);}
#desktop .wrap1350{max-width: 1350px; background: url(../img/icon/wrap.png) no-repeat; position: relative; z-index: 2; padding: 1rem 7.5rem 0; box-sizing: border-box; overflow: hidden;}
#desktop .wrap50{width: 50px; background: url(../img/icon/wrapsmall.png) no-repeat; position: relative;}

/* 북마크 */
#desktop .wrap50 .wrap50-main{background: url(../img/icon/wrap50-img1.png) no-repeat; width: 120px; height: 120px;}
#desktop .wrap50 .wrap50-intro{background: url(../img/icon/wrap50-img2.png) no-repeat; width: 120px; height: 210px;}
#desktop .wrap50 .wrap50-skill{background: url(../img/icon/wrap50-img3.png) no-repeat; width: 120px; height: 150px;}
#desktop .wrap50 .wrap50-work{background: url(../img/icon/wrap50-img4.png) no-repeat; width: 120px; height: 130px;}
#desktop .wrap50 .wrap50-contact{background: url(../img/icon/wrap50-img5.png) no-repeat; width: 120px; height: 180px;}

#desktop .wrap50>div{position: absolute; width: 100px; height: 100%; right: 0px; transition: .5s;}
#desktop .wrap50>div>a{display: block; position: relative; margin-top: 20px;}


.blue{color: #3A89FF;}

/* 스킵 */
#skip{z-index:4;position:relative;width:100%;height:auto;font-size:0;}
#skip>li{width:100%;height:auto;font-size:0;}
#skip>li>a{display:block;padding:0;font-size:0;text-align:center;color:#fff;background:#000;}
#skip>li>a:focus{padding:20px;font-size:16px;}

/* header */
#desktop .bg>h1{height: 12.6rem; line-height: 12.6rem;}
#desktop .bg>h1>span{font-size: 8rem; font-weight: 900; text-transform: uppercase;}

#desktop .bg>ul.nav{border-top: 1rem solid #333; border-bottom: 1rem solid #333; height: 6rem; display: flex; line-height: 6rem; justify-content: space-around;}
#desktop .bg>ul.nav>li{width: auto;}
#desktop .bg>ul.nav>li>a{font-size: 3.5rem; text-transform: capitalize; font-weight: 700; color: rgba(157, 157, 157, 0.7); transition: .3s;}
#desktop .bg>ul.nav>li>a:hover{color: #333;}
#desktop .bg>ul.nav>li>a.on{color: #333;}
#desktop .bg>h2{margin: 1rem 0; width: 34rem; height: 6.4rem; line-height: 6.4rem; font-size: 3.5rem; color: rgba(255, 255, 255, 0.7); -webkit-text-stroke: 1px black; font-weight: 700; background: #3A89FF; text-align: center;}

#desktop #header .bg>.head-body{width: 100%; height: auto; display: flex; align-items: center; margin-top: 5rem;}
#desktop #header .bg>.head-body>.main{}
#desktop #header .bg>.head-body>.main>.greetings{width: auto; font-size: 4rem; height: 7rem; margin-bottom: 3rem; font-weight: bolder; display: inline-block; position: relative; border-bottom: .5rem solid #333; box-sizing: border-box; padding: 1rem 0;}
#desktop #header .bg>.head-body>.main>.greetings>.blue{font-size: 4rem;}
#desktop #header .bg>.head-body>.main>.greetings>img{width: 10rem; height: 10rem; position: absolute; right: -10rem; top: 50%; transform: translateY(-50%);}
#desktop #header .bg>.head-body .main-introduce{width: 100%; display: flex; flex-wrap: wrap; border: .8rem solid #333;}
#desktop #header .bg>.head-body .main-introduce>h3{width: 100%; height: 20%; line-height: 5rem; background: #333; color: #fff; font-size: 2.8rem; padding-left: 2rem;}

/* 폰트 사이즈 */
#desktop #header .bg>.head-body .main-introduce span{font-size: 2.3rem; line-height: 4.5rem; font-weight: 500;}

#desktop #header .bg>.head-body .main-introduce div{ padding: 2rem; box-sizing: border-box;}
#desktop #header .bg>.head-body .main-introduce>.privacy{width: 25%; margin-right: 8em;}
#desktop #header .bg>.head-body .main-introduce>.privacy>p{}
#desktop #header .bg>.head-body .main-introduce>.privacy>p>.title{}
#desktop #header .bg>.head-body .main-introduce>.privacy>p>span.title + span{font-weight: bolder;}
#desktop #header .bg>.head-body .main-introduce>.line{border-right: 0.8rem dashed #333; padding: 0; width: 1%; margin-right: 2rem;}
#desktop #header .bg>.head-body .main-introduce>.introduction{width: 58%;}
#desktop #header .bg>.head-body .main-introduce>.introduction>h2{}
#desktop #header .bg>.head-body .main-introduce>.introduction>span{}

#desktop #header .bg>.head-body .main-articles{width: 100%; display: flex; margin-top: 6rem;}
#desktop #header .bg>.head-body .main-articles>.text-wrap{width: 32%;}
#desktop #header .bg>.head-body .main-articles>.text-wrap>p.text{width: 90%;}
#desktop #header .bg>.head-body .main-articles>.text-wrap>p.text>a{font-size: 2.5rem; line-height: 3rem;}
#desktop #header .bg>.head-body .main-articles>.text-wrap>p.text>a>img{display:block; width: 90%}

/* #desktop #header .bg>.head-body .main-articles>.text-wrap>p.text>a:hover{background-position: 100%;}
#desktop #header .bg>.head-body .main-articles>.text-wrap>p.text>a{display: block; width: 80%; height: 40rem; background: url(../img/work/img-velog.png) no-repeat; background-size: cover; transition: 3s;} */

#desktop #header .head-body div>.text-wrap>.title{width: 90%; border-bottom: .5rem solid #333; margin-bottom: .5rem;display: flex; justify-content: space-between;}
#desktop #header .head-body div>.text-wrap>.title>h3{margin-bottom: .3rem;}
#desktop #header .head-body div>.text-wrap>.title>h3>a{font-size: 3rem; font-weight: 700;}
#desktop #header .head-body div>.text-wrap>.title>span{background: url(../img/icon/Ellipse_3-removebg-preview.png) no-repeat; width: 4.3rem; height: 4.3rem; display: block; background-size: contain;}

/* skills */

#desktop #skills .bg>h2{width: 18rem;}
#desktop #skills .bg>.skill-box{width: 100%; display: flex; padding: 3rem; box-sizing: border-box; justify-content: space-around;}
/* 스킬박스 공통속성 */
#desktop #skills .bg>.skill-box h6{font-size: 3.5rem; padding: 1rem 0; padding-left: 2rem; background: #333; color: #fff;}
#desktop #skills .bg>.skill-box img{display: block; width: 100%; margin: 1.5rem 0;}
#desktop #skills .bg>.skill-box> div > div {border: 0.8rem solid #333; margin-bottom: 2rem;}

#desktop #skills .bg>.skill-box>.box-left{}
#desktop #skills .bg>.skill-box>.box-left>.frontend{}
#desktop #skills .bg>.skill-box>.box-left>.frontend>img{height: 40rem;}

#desktop #skills .bg>.skill-box>.box-right{width: 48%;}
#desktop #skills .bg>.skill-box>.box-right>.version-control{width: 30rem;}
#desktop #skills .bg>.skill-box>.box-right>.version-control>img{height: 6rem; width: 70%; margin-left: 2rem;}
#desktop #skills .bg>.skill-box>.box-right>.communication{width: 50rem; box-sizing: border-box;}
#desktop #skills .bg>.skill-box>.box-right>.communication>img{height: 15rem;}

/* work */

#desktop #work .bg>.myWork{width: 100%; padding: 2rem 0 0  3rem; margin-top: 2rem; box-sizing: border-box; height: 70%; overflow-y: scroll;}
#desktop #work .bg>.myWork::-webkit-scrollbar{width: 8px; height: 5px;}
#desktop #work .bg>.myWork::-webkit-scrollbar-thumb{background-color: #333;}
#desktop #work .bg>.myWork::-webkit-scrollbar-track{background-color: rgb(205, 205, 205);}
#desktop #work .bg>.myWork>.work{display: flex; justify-content: space-around; width: 85%; height: 30rem; margin: 3rem 0;}
#desktop #work .bg>.myWork>.work>p.work-img{width: 45%;}
#desktop #work .bg>.myWork>.work>p.work-img >a>img{width: 95%; height: 95%; display: block;}
#desktop #work .bg>.myWork>.work>div.explanation{width: 55%;}
#desktop #work .bg>.myWork>.work>div.explanation>h3{font-size: 2.7rem; margin-bottom: 1rem; display: inline-block; box-sizing: border-box; padding: .5rem 2rem;}
#desktop #work .bg>.myWork>.work>div.explanation>h4{font-size: 2.2rem;}
#desktop #work .bg>.myWork>.work>div.explanation>.explan-list{padding-left: 2rem; margin: 1rem 0;}
#desktop #work .bg>.myWork>.work>div.explanation>.explan-list>li{font-size: 1.8rem; display: block; margin: .5rem 0; text-decoration: underline;}

#desktop #work .bg>.myWork>.todoListWork h3{background-color: rgb(134, 200, 99);  color: white;}
#desktop #work .bg>.myWork>.cowayWork h3{background-color: #00a7e1;  color: white;}
#desktop #work .bg>.myWork>.portfolioWork h3{background-color: #333;  color: white;}


/* contact */

#desktop #contact .bg>h2{width: 20rem;}
#desktop #contact .bg>.contact-img{width: 100%; height: 10rem; text-align: center; position: relative; margin-bottom: 3rem;}
#desktop #contact .bg>.contact-img>h5{background: url(../img/icon/contacticonHead.png) no-repeat; background-size: contain; display: inline-block; width: 10rem; height: 10rem; font-size: 0;}
#desktop #contact .bg>.contact-img>.text{position: absolute; top: 0; right: 0; border-bottom: 4px dashed #333; box-sizing: border-box;}
#desktop #contact .bg>.contact-img>.text>img{width: 20rem; height: 6rem; display: block;}

#desktop #contact .bg>.contact-text-wrap{display: flex; position: relative; width: 100%; justify-content: space-between; }
#desktop #contact .bg>.contact-text-wrap::after{width: 3px; background: #999; height: 100%; content: ''; position: absolute; left: 50%; transform: translateX(-50%);}
#desktop #contact .bg>.contact-text-wrap>.contact-text{width: 43%}
#desktop #contact .bg>.contact-text-wrap>.contact-text::after{width: 100%; height: 3px; background: #999; content: ''; position: absolute; top: 0; left: 0;}
#desktop #contact .bg>.contact-text-wrap>.contact-text::before{width: 100%; height: 3px; background: #999; content: ''; position: absolute; bottom: 50%; left: 0;}
#desktop #contact .bg>.contact-text-wrap>.contact-text>div>h6{font-size: 3rem; font-weight: bold; color: #3A89FF; border-bottom: 3px dashed #999; padding: 2rem 0;}
#desktop #contact .bg>.contact-text-wrap>.contact-text>div>.text{display: block; font-size: 3rem; padding: 3rem 0;}

/* 패러독스 애니메이션 */

#desktop .main-introduce.parall{animation: aniY 1.3s forwards;}
#desktop .main-articles>div:nth-child(1).parall{animation: aniY 1.4s forwards;}
#desktop .main-articles>div:nth-child(2).parall{animation: aniY 1.6s forwards;}
#desktop .main-articles>div:nth-child(3).parall{animation: aniY 1.8s forwards;}

#desktop .frontend.parall{animation: aniY 1.6s forwards;}
#desktop .version-control.parall{animation: aniY 1.8s forwards;}
#desktop .communication.parall{animation: aniY 1.9s forwards;}

#desktop .work-content.parall{animation: aniY 1.3s forwards;}
#desktop .clone-coding.parall{animation: aniY 1.5s forwards;}

#desktop .contact-text-wrap.parall::after{animation: heigh120 2s forwards;}
#desktop .contact-text-wrap.parall>.contact-text::after{animation: wid85 2.1s forwards;}
#desktop .contact-text-wrap.parall>.contact-text::before{animation: wid95 2.3s forwards;}


@keyframes aniY {
  0%{transform: translateY(1000px); opacity: 0;}
  100%{transform: translateY(0); opacity: 1;}
}

@keyframes opac1 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes heigh120 {
  0%{height: 0%;}
  100%{height: 100%;}
}

@keyframes wid85 {
  0%{width: 0%;}
  100%{width: 100%;}
}

@keyframes wid95 {
  0%{width: 0%;}
  100%{width: 100%;}
}

/* 모바일 */
#mobile{display: none; width: 100%; background: url(../img/icon/wrap.png) repeat-y; position: relative;}
/* 공통속성 */
#mobile .section{margin-top: 4rem; padding: 0 2rem; width: 100%; box-sizing: border-box; }
#mobile .section-title{margin-bottom: 3rem;}
#mobile .section-title>h2{width: 23rem; height: 6.4rem; line-height: 6.4rem; font-size: 4rem; color: rgba(255, 255, 255, 0.7); -webkit-text-stroke: 1px black; font-weight: bold; background: #3A89FF; text-align: center; text-transform: capitalize;}
#mobile .section-text{width: 100%; position: relative;}
#mobile .section-text>.text-title{font-size: 5.5rem; font-weight: bold; margin-bottom: 2rem; line-height: 5rem;}

/* top btn */
.top-btn{width: 15rem; height: 8rem; background: #1a478abd; position: fixed; z-index:99; bottom: 10%; left: 50%; transform: translateX(-50%); text-align: center; cursor: pointer; border-radius: 10px;}
.top-btn>span{color: #fff; line-height: 8rem; font-size: 3rem;}

/* click menu */
#mobile .click-menu{position: fixed; top: 9rem; right: -15rem; display: none; z-index: 999;}
#mobile .click-menu>.menu-wrap{position: relative;}
#mobile .click-menu>.menu-wrap>li{position: absolute; z-index: 999; transition: .3s;}
#mobile .click-menu>.menu-wrap>li:nth-child(1){background: #FF1313aa;}
#mobile .click-menu>.menu-wrap>li:nth-child(2){background: #66FF4Ebb;}
#mobile .click-menu>.menu-wrap>li:nth-child(3){background: #13FFAAbb;}
#mobile .click-menu>.menu-wrap>li:nth-child(4){background: #1347FFbb;}
#mobile .click-menu>.menu-wrap>li>a{display: block; width: 15rem; height: 5rem; font-size: 2.4rem; padding: 1rem; box-sizing: border-box; text-align: center; line-height: 3rem; color: #fff;}

/* on event */
#mobile .click-menu.on{right: 15rem; transition: .3s;}
#mobile .click-menu.on>.menu-wrap>li:nth-child(2){ transition: 3s;top: 5.5rem;}
#mobile .click-menu.on>.menu-wrap>li:nth-child(3){ transition: 3s;top: 11rem;}
#mobile .click-menu.on>.menu-wrap>li:nth-child(4){ transition: 3s;top: 16.5rem;}


  /* header */
#mobile #header{width: 100%; height: 8rem; background: url(../img/icon/wrap.png) no-repeat; border-bottom: 5px solid #333; box-sizing: border-box; padding: 0 3rem; display: flex; justify-content: space-between; align-items: center;}
#mobile #header>h1{line-height: 7rem;}
#mobile #header>h1>span{font-size: 4rem; text-transform: uppercase; font-weight: bold;}
#mobile #header>.list{width: 4rem; height: 4rem; display: flex; flex-wrap: wrap; align-items: center;}
#mobile #header>.list>span{display: block; background: #333; width: 100%; height: .5rem; transition: .3s;}

#mobile #header>.list.on>span:nth-child(1){transform: rotate(45deg) translateY(1.4rem);}
#mobile #header>.list.on>span:nth-child(2){display: none;}
#mobile #header>.list.on>span:nth-child(3){transform: rotate(-45deg) translateY(-1.4rem);}

#mobile .section-text{width: 100%; height: 40rem;}
#mobile #m-introduce .section-text>.text{font-size: 2.5rem; line-height: 4rem;}
#mobile #m-introduce .section-text>.text>img{position: absolute; right: 0; bottom: 0; animation: upDown 1.5s infinite alternate; width: 20rem;}

@keyframes upDown {
  0%{transform: translateY(70px);}
  100%{transform: translateY(100px);}
}

  /* skill */
#mobile #m-skill{width: 100%;}
#mobile #m-skill>.section-text{height: 100%;}
#mobile #m-skill>.section-text>.skill-box{width: 100%; padding: 5rem 2rem; background: #1A478A; box-sizing: border-box;}
#mobile #m-skill>.section-text>.skill-box>.skill-name{font-size: 4rem; color: #fff; padding: 1.5rem 7rem; box-sizing: border-box; position: relative; text-decoration: underline;}
#mobile #m-skill>.section-text>.skill-box>.skill-name:nth-child(2n){text-align: right;}

  /* work */
#mobile #m-work{width: 100%;}
#mobile #m-work .section-title>h2{width: 35rem;}
#mobile #m-work .m-myWork{width: 100%;}
#mobile #m-work .m-myWork>.m-work{margin: 4rem 0;}
#mobile #m-work .m-myWork>.m-work>p{width: 100%;}
#mobile #m-work .m-myWork>.m-work>p img{display: block; width: 100%;}
#mobile #m-work .m-myWork>.m-work>.explanation{}
#mobile #m-work .m-myWork>.m-work>.explanation h3{font-size: 4.5rem; margin: 3rem 0; color: white; display: inline-block; padding: 1rem 2.5rem;}
#mobile #m-work .m-myWork>.m-work>.explanation h4{font-size: 4rem;}
#mobile #m-work .m-myWork>.m-work>.explanation li{font-size: 3rem; margin: 2rem 0;text-decoration: underline;}
#mobile #m-work .m-myWork>.todoListWork{}

#mobile #m-work .m-myWork>.todoListWork h3{background-color: rgb(134, 200, 99);}
#mobile #m-work .m-myWork>.cowayWork h3{background-color: #00a7e1;}
#mobile #m-work .m-myWork>.portfolioWork h3{background-color: #333;}

  /* contact */
#mobile #m-contact{width: 100%;}
#mobile #m-contact .section-title>h2{width: 25rem;}
#mobile #m-contact .section-text{height: auto;}
#mobile #m-contact .section-text>.contact{display: flex; padding: 4rem 0; border-top: 2px solid #999;}
#mobile #m-contact .section-text>.contact>img{width: 50px; height: 50px; margin: 0 5rem;}
#mobile #m-contact .section-text>.contact>.text{display: block; line-height: 50px; font-size: 3rem;}

#mobile #footer{background: #333; height: 15rem; text-align: center;}





@media screen and (max-width:1400px) {
    html{font-size: 9px;}
    #desktop #header .bg>.head-body{margin-top: 3rem;}
}
@media screen and (max-width:1283px) {
    html{font-size: 8px;}
}
@media screen and (max-width:1122px) {
    html{font-size: 7px;}
    #desktop .bg-wrap{height: 80%; top: 13%;}
    #desktop .wrap50>div>a{margin-top: 10px;}
}

@media screen and (max-width:986px) {
  html{font-size: 7px;}
  #desktop .wrap1350{max-width: 1400px; margin: 0 5px; padding: 1rem 5.5rem 0;}
  #desktop .wrap50{display: none;}
  #desktop #contact .bg>.contact-text-wrap>.contact-text>div>h6{font-size: 3.5rem;}
}

@media screen and (max-width:845px) {
  #desktop .wrap1350{max-width: 1400px; padding: 1rem 2.5rem 0;}
}

@media screen and (max-width:767px){
  #desktop{display: none;}
  html{font-size: 6px;}
  #mobile{display: block;}
}

@media screen and (max-width:450px){
  html{font-size: 5px;}
}

@media screen and (max-width:460px){
  html{font-size: 5px;}
}
@media screen and (max-width:395px){
  html{font-size: 4px;}
  #mobile #introduce .section-text>.text>img{bottom: 5rem;}
}
